:root {
    --black: #0C0C0C;
    --gray: #141414;
    --light-gray: #9C9C9C;
    --purple: #3E2A7B;
    --blue-color: #0093A6;
    --hover-color: #424242;
}

.header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: var(--gray);
    width: 300px;
    padding: 20px;
    height: 100%;
    gap: 30px;
}

.box {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 20px;
    align-items: center;
    justify-content: space-between;
}

.logoBox {
    display: flex;
    flex-direction: column;
    gap: 35px;
    height: min-content;
    width: 100%;
    padding-top: 25px;
}

.borderGradient {
    width: 100%;
    height: 2px; /* altura da borda */
    background-image: linear-gradient(
        90deg,
        hsl(255deg 49% 32%) 0%,
        hsl(203deg 100% 32%) 50%,
        hsl(187deg 100% 33%) 100%
    );
}

@keyframes gradient {

    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.navbar {
    display: grid;
    grid-template-columns: 1.5fr 4fr 1.5fr;
    width: 100%;
    height: 50px;
    background: linear-gradient(90deg, #121862, #1481A6, #121862, #1481A6);
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
}

.main {
    grid-column: 2/3;
    background-color: var(--gray);
    height: fit-content;
    align-self: center;
}

.searchBox {
    grid-column: 2/3;
    display: flex;
    align-items: center;
    padding-left: 10px
}

.h1 {
    font-weight: 500;
    font-size: 30px;
    height: min-content;
    margin: 0px 0px 0px 10px;
}

.center {
    background-color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 70px;
}

.input {
    padding-left: 25px;
    width: 0
}

.ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-top: 0;
}

.li {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    padding: 20px 20px 20px 20px;
}

.li:hover {
    background-color: #383838;
}

.h3 {
    margin: 0;
}

.h3:hover {
    text-decoration: underline;
    cursor: pointer;
}

.pDestiny {
    margin: 0;
    color: #56cef6;
}

.category {
    display: grid;
    padding: 0px 20px 0px 20px;
    grid-template-columns: 2fr 1fr 1fr;
}

.trip {
    display: flex;
    grid-column: 1/2;
}

.duration {
    display: flex;
    grid-column: 2/3;
}

.pCategory {
    font-weight: bold;
    margin: 5px 0px 5px 0px;
    color: #525252;
}

.actions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 18px;
    margin-right: 25px;
    margin-top: 25px;
    gap: 15px;
}

.loginBox {
    display: flex;
    background-color: #00508D;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-top: none;
    padding: 10px 30px 10px 30px;
}

.createBox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #006198;
    border-bottom: none;
    height: 100%;
}


.mdiPlus,
.updateMdi,
.mdiTrashCanOutline {
    display: flex;
    align-items: center;
    border-radius: 5px;
    gap: 20px;
    padding: 10px;
}

.mdiPlus:hover,
.mdiTrashCanOutline:hover,
.updateMdi:hover {
    background-color: var(--hover-color);
    cursor: pointer;
}
